body
{ 
	background: url(../images/main_small.jpeg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@media only screen and (min-width: 1000px) 
{
    body 
    { 
        background: url(../images/main_large.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover; 
    }
}

.center-vertical
{
	margin-top: auto;
	margin-bottom: auto;
}

.parent
{
	position: relative;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.child 
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	flex-shrink: 0;
	opacity: 0.9;
}

.col-fit-screen-height
{
	height: 100vh;
}

.solo-link
{
	margin-top: 2%;
}

.my-link
{
	font-size: .75rem;
}

.form-title
{
	font-family: "Times New Roman", Times, serif;
}